/* General styling for the content area */
.user-management-page {
  background-color: #333;
  min-height: 100vh;
  padding: 100px 20px 20px 20px;
}

/* Title styling */
.user-management-title {
  color: #f1c40f;
  font-weight: 600;
  margin-bottom: 40px;
  text-align: center;
}

/* Styling for the user cards container */
.user-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
